.body1 {
  background-color: white;
}

body {
   color: greenyellow;
   background-color:white;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: monospace;

}
form {
    width: 450px;
    margin: auto;
    background-color: white;
    color:white;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}
h2 {
    color:black;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}
input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    
}
textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton {
    background: rgb(180, 189, 189);
    color: #fff;
    padding: 20px;

}
#boton:hover {
cursor:pointer
}

@media (max-width:480px) {
    form {
        width: 100px;
    }
}
.logo {
 width: 300px;
 height: 300px;

}
@media (max-width:480px) {
   .logo {
        width: 100px;
    }
}
.full-reset {
    background-color:green;
}
.row {
    background-color:greenyellow;
}